body {
    padding-bottom: 5rem;
}

header {
    background: url(../images/confetti-fun-hero.jpg) center / cover;
    height: 60vh;
    justify-content: center;
    text-align: center;
}

h1 {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.95);
}

.slogan {
    font-weight: lighter;
    color:  rgba(255, 255, 255, 0.85);
    font-size: 1.6rem;
}

/* Added slight dropshadow to make header text more readable */
h1, .slogan {
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
}

main {
    max-width: 900px;
}

.project-description {
    padding-left: 0;
}

.project img {
    width: 100%;
}

footer.mdl-mini-footer {
    bottom: 0;
    padding: 0.5rem;
    position: fixed;
    width: 100%;
    z-index: 1;
}

footer.mdl-mini-footer > ul {
    margin: auto;
}